# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.venv/
venv/

# OS / IDE
.DS_Store
Thumbs.db
.vscode/
.idea/

# Logs
*.log

# Env / secrets
.env
.env.*

# Build artifacts
dist/
build/
*.egg-info/

# DB / docker volumes (si los tienes en el repo)
postgres_data/
