version: "3.9"

services:
  api:
    build: .
    container_name: beautybarber_api
    ports:
      - "8000:8000"
    env_file:
      - .env
    environment:
      - PYTHONPATH=/app
    depends_on:
      - db
    volumes:
      - ./:/app
    restart: always

  db:
    image: postgres:16
    container_name: beautybarber_db
    env_file:
      - .env
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    restart: always

volumes:
  postgres_data:
